ControlMaster auto
ControlPath ~/.ssh/tmp/%h_%p_%r
Compression yes

Host *
    ForwardAgent yes
#    IdentitiesOnly yes


Host github.com
    IdentityFile ~/.ssh/id_github
    User git

Host gateway
    port 56022
    HostName gateway.ixty.net
    User mbh
    IdentityFile ~/.ssh/id_xxx
        
Host forwarder
    User root
    Hostname 192.168.10.10
    ForwardAgent yes
    ProxyJump gateway
    IdentityFile ~/.ssh/id_xxx
    LocalForward 20443 10.20.10.21:443
    LocalForward 40443 10.40.10.21:443

